.heading{
    text-align: center; 
    color: white; 
    text-shadow:     -0.2vw 0.3vw 0 #d4a17a; 
    font-size: 5.5vw; 
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 0%;
    margin-bottom: 5%;
}
.subheading{
    text-align: center; 
    color: white; 
    font-size: 3.5vw; 
    font-family: Arial, Helvetica, sans-serif; 
    margin: 0%;
}
.paragraph{
    color: white;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}
.list_paragraph{
    color: white;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
}